<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strive.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="com.strive.pojo.Grade">
    <!--@mbg.generated-->
    <!--@Table grade-->
    <id column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="user_grade" jdbcType="VARCHAR" property="userGrade" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    grade_id, user_id, integral, user_grade
  </sql>

</mapper>